#search-results {
    list-style: none;
    padding-left: 0;
    width: 80vh;
    margin: 0 auto;
    display: block;
}

#search-results .lazy-item {
    cursor: pointer;
    display: inline-block;
}

.modalImage {
    width: 70% !important;
    height: 95% !important;
    object-fit: cover;
}